@model IEnumerable<STM.Models.Data.CProject>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Projects</h3>
<script>
    function createProject() {
        let innerHtml = getRequest("@Url.Action("Create", "Project")");
        showPopup("New project", innerHtml);
    }
</script>

<div id="stm-projects">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col">@item.Name</div>
            <div class="col">@item.Prefix</div>
            <div class="col">item.ManagerNavigation.LastName item.ManagerNavigation.FirstName</div>
        </div>
    }
</div>

<button class="stm-btn" id="create-project">
    Create project
</button>
<script>
    document.getElementById('create-project').addEventListener('click', function () {
        ShowPartialViewPopup('New Project', '@Url.Action("Create", "Project")', { method: 'post', action: '@Url.Action("Create", "Project")'}, {});
    });
</script>
